.postTimeAndName {
  float: left;
}
.postImageRightBar {
  float: left;
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 10px;
}
.rightbarSection {
  font-size: 1.15rem;
  text-align: left;
  margin-top: 3rem;
}

.rightbarSection2 {
  font-size: 1.15rem;
  text-align: left;
  margin-top: 3rem;
}
.rightBarSectionDiv {
  margin-bottom: 14rem;
}
